# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/

# Misc
.DS_Store
*.log
.ropeproject/autoimport.db
invenio_stats_dashboard/utils/utils.py
tests/test_logs/invenio.log.1
